/* =========================================================== logo slider code  ===================================================== */
.logo_slider_section {
  background: linear-gradient(102.5deg, #6e5df6 -2.76%, #00ffe1 97.18%);
  padding: 50px 0;
}
.common_slider_img {
  width: 395px;
  height: 177px;
  animation-name: logo_slider;
}
.logo_slider {
  gap: 20px;
  width: auto;
  animation-duration: 40s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-name: slide;
  --slider-inner-width: 1920px;
  --slider-speed: 60s;
  animation: scroll linear infinite var(--slider-speed);
  width: calc(2 * var(--slider-inner-width));
  transition: animation-play-state ease 110s;
}
.logo_slider:hover {
  animation-play-state: paused;
}
@keyframes slide {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc((0px - var(--slider-inner-width)) - 0%));
  }
}

/* =========================================================== live result code  ===================================================== */
.result_container {
  max-width: 1134px;
  padding: 0 24px;
}

.result_image {
  width: 109px;
  height: 88px;
}

.live_result_section {
  margin-top: 123px;
}

.blue_ball {
  width: 22px;
  height: 22px;
  background: linear-gradient(133.83deg, #00b9ff 3.77%, #6f69f2 81.07%);
  border-radius: 50%;
}

/*==================================== media screens ==================================== */

@media (max-width: 1199.99px) {
  .common_slider_img {
    width: 298px;
    height: 104px;
    object-fit: cover;
    border-radius: 10px;
  }
}

@media (max-width: 767.99px) {
  .common_slider_img {
    width: 268px;
    height: 107px;
  }

  .logo_slider_section {
    padding: 29px 0;
  }
}

@media (max-width: 575.99px) {
  .common_slider_img {
    width: 219px;
    height: 82px;
  }
}
